<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/public/js/jquery.parallax.js"></script>
<script type="text/javascript" src="/public/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/public/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/public/js/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/public/js/easing.js"></script>
<script type="text/javascript" src="/public/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/public/js/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="/public/js/custom.js"></script>