<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

     <title>Liam Darmody - Resume</title>

     <link rel="shortcut icon" href="/public/favicon.ico">

     <style type="text/css">
        * { margin: 0; padding: 0; }
        body { font: 16px Helvetica, Sans-Serif; line-height: 24px; background: url(/public/noise.jpg); }
        .clear { clear: both; }
        #page-wrap { width: 800px; margin: 40px auto 60px; }
        #pic { float: right; margin: -30px 0 0 0; }
        h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
        h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
        h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
        p { margin: 0 0 16px 0; }
        a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
        a:hover { border-bottom-style: solid; color: black; }
        ul { margin: 0 0 32px 17px; }
        #objective { width: 800px; float: left; }
        #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
        dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
        dd { width: 600px; float: right; }
        dd.clear { float: none; margin: 0; height: 15px; }
     </style>
</head>

<body>

    <div id="page-wrap">
    
        <img src="/public/liamdarmody.png" alt="Liam Darmody" id="pic" />
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">Liam Darmody</h1>
        
            <p>
                <strong>Mobile:</strong> <span class="tel">+61 414 767 229</span><br />
                <strong>Email:</strong> <a class="email" href="mailto:liamdarmody@gmail.com">liamdarmody@gmail.com</a><br />
                <strong>Portfolio:</strong> <a href="http://www.liamdarmody.com" target="_blank">www.liamdarmody.com</a><br />
                <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/liamdarmody" target="_blank">www.linkedin.com/in/liamdarmody</a><br />
                <strong>Github:</strong> <a href="https://www.github.com/liamdarmody" target="_blank">www.github.com/liamdarmody</a>
            </p>
        </div>
                
        <div id="objective">
            <p>
                I'm an outgoing and entrepreneurial web developer, seeking a career that fits my professional skills and personality.

                I have a broad skill-set, whilst offering in-depth experience in early venture creation and technology.

                I'm a problem solver at heart and enjoy creating memorable experiences.
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            <dd>
                <h2>General Assembly <span>Web Development Immersive (2015)</span></h2>
                <p>Successfully completed a 12-week Immersive course (480 hours of instruction) to become a full-stack web developer. Learned new skills such Ruby on Rails, JavaScript, TDD &amp; Agile. Completed 3 independent/group projects.</p>
            </dd>
            <dd>
                <h2>General Assembly <span>Digital Marketing (2014)</span></h2>
                <p>Successfully completed a 10-week part-time course (60 hours of instruction) to hone my digital marketing skills. Learned how to apply data-driven approaches, how to improve user experience, various acquisition strategies, etc.</p>
            </dd>
            <dd>
                <h2>University of Adelaide <span>Bachelor of Innovation &amp; Entrepreneurship (2013)</span></h2>
                <p>Successfully completed a Bachelor of Innovation &amp; Entrepreneurship with a Distinction-average. Received the Dean's Certificate of Merit for Outstanding Academic Achievement.</p>
                <em><p>Also studied at Macquarie University &amp; Copenhagen Business School.</p></em>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Skills</dt>
            <dd>
                <h2>Technical</h2>
                <p>HTML5, CSS3, Bootstrap, Skeleton.css, Pure CSS, Basscss, JavaScript, jQuery, AJAX, Underscore.js, Backbone.js, Ruby on Rails, Sinatra, Postgresql, Sqlite3, APIs, RSpec, Cucumber, TDD &amp; EDD, Git</p>
                
                <h2>Business</h2>
                <p>Product Management, Account Management, Event Management, Digital Marketing, Google Adwords, Social Media Marketing, SEO, New Venture Creation, Consulting</p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd>
                <h2>Freelancer.com <span>Sydney Manager, Recruiter - Australia (Jan 2014 - Dec 2014)</span></h2>
                <ul>
                    <li>Hired and managed the team in Sydney</li>
                    <li>Trained a new team of Account Managers in Vancouver</li>
                    <li>Managed product development for the Preferred Freelancer Program on-boarding system</li>
                </ul>
                
                <h2>TEDxMacquarieUniversity <span>Licensee &amp; Co Curator (Oct 2010 - Jan 2013)</span></h2>
                <ul>
                    <li>Attained the TEDx license and established the overall strategy for the event</li>
                    <li>Developed a team of enthusiastic volunteers</li>
                    <li>Designed an efficient, effective and sociable online work platform on Podio (https://podio.com)</li>
                    <li>Built and managed the event’s website &amp; blog</li>
                    <li>Arranged and curated an appealing list of speakers and entertainers</li>
                    <li>Delivered the events (2011, 2012)</li>
                </ul>

                <h2>Podio <span>Head of Sponsorship - Denmark (Mar 2011 - Aug 2011)</span></h2>
                <ul>
                    <li>Established overall strategy for Podio Sponsorship Program</li>
                    <li>Wrote policies and guidelines for Program</li>
                    <li>Aligned Program with Podio marketing strategy</li>
                    <li>Authored blogs (http://blog.podio.com/)</li>
                    <li>Organised and delivered workshops for Podio World Tour</li>
                </ul>

                <h2>PwC <span>Assistant Consultant - Australia (Jan 2009 - Jun 2010)</span></h2>
                <ul>
                    <li>Assisted with IT Security consulting, ITGC, business process and compliance plan audits</li>
                    <li>Organised a team Foundation Day in 2010</li>
                    <li>Mentored new trainees and interns</li>
                    <li>Represented PwC at the Inaugural One Young World Summit in 2010, London</li>
                </ul> 
            </dd>
            
            <dd class="clear"></dd>

            <dt>Other</dt>
            <dd>
                <h2>Hobbies</h2>
                <p>Tech, Startups, Bike Riding, Farm-life, Camping, Travel</p>

                <h2>Professional Development &amp; Awards</h2>
                <ul>
                    <li>2014: Completed Royal Australian Navy Young Endeavour Scheme</li>
                    <li>2013: Graduate of ANZ Innovyz START Accelerator Program</li>
                    <li>2013: Graduate of Rotary Youth Leadership Award (RYLA)</li>
                    <li>2012: Winner of Startup Weekend Adelaide</li>
                    <li>2012: TEDActive, Palm Springs</li>
                    <li>2012: TEDxSummit, Doha</li>
                    <li>2012: One Young World - London (2010), Zurich (2011) Pittsburgh (2012)</li>
                    <li>2011: Hesselbein Global Academy for Student Leadership and Civic Engagement, Pittsburgh</li>
                    <li>2011: International Youth Leadership Conference, Prague</li>
                    <li>2010: Australian Youth Led Convention, Canberra</li>
                    <li>2010: Global Emerging Educational Leaders Summit, Sydney</li>
                    <li>2010: 63rd United Nations DPI/NGO Conference, Melbourne</li>
                    <li>2008: Duke of Edinburgh Award - Bronze (2006), Silver (2007) and Gold (2008)</li>
                    <li>2007: Australian Defence Force Long Tan Leadership and Teamwork Award</li>
                </ul>

                <h2>References</h2>
                <p>Available on request</p>
            </dd>

            <!-- <dd class="clear"></dd> -->
            
            <!-- <dd class="clear"></dd> -->
        </dl>
        
        <!-- <div class="clear"></div> -->
    
    </div>

</body>

</html>